:root{
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

.light{
  --bg-pri: var(--base3);
  --bg-sec: var(--base2);
  --text-pri: var(--base0);
  --text-sec:var(--base01);
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: var(--text-pri);
  background-color: var(--bg-pri);
}

#wrapper{
  display: grid;
  grid-template-columns: 200px auto;
}

aside{
  background-color: var(--bg-sec);
  color: var(--text-sec);
}

main{
  background-color: var(--bg-pri);
  color: var(--text-pri);
  margin: 1rem;
}

aside nav ul {
  list-style-type: none;
  margin: 1rem;
  padding: 0;
}

aside nav ul li a {
  color: var(--text-sec);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

aside nav ul li a {
  font-size: 24px;
}

aside nav ul li a span {
  margin-left: 1rem;
}

button{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  color: var(--base2);
  background-color: var(--base02);
}

.btn-blue{
  color: var(--base3);
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-blue:hover{
  color: var(--base3);
  background-color: var(--violet);
  border-color: var(--blue);
}

.btn-blue-outline{
  border-color: var(--blue);
  color: var(--blue);
  background-color: transparent;
}

.btn-blue-outline:hover{
  color: var(--base3);
  background-color: var(--blue);
  border-color: var(--blue);
}

